@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&family=IBM+Plex+Serif&family=Lobster&display=swap');

$baseColor: #200d3f;
$primaryTextColor: #DE354C;
$secondaryColor: #f3f3f3;
$secondaryTextColor: #932432;

body {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 700;
  background-color: $baseColor;
  color: $baseColor;
  text-align: center;
  margin-top: 100px;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $secondaryColor;
  .navbar-brand {
    font-size: 1.5em;
    color: $primaryTextColor;
    font-family: 'Lobster', cursive;
  }
  .nav-link {
    font-weight: 500;
    font-size: 1.15em;
    color: #3C1874;
    text-decoration: none;
  }
  .nav-link:hover,
  .navbar-brand:hover {
    transition: color 0.5s;
    color: $secondaryTextColor
  }
}

#login-form-container {
  color: $primaryTextColor;
  width: 100%;
}
.home-title {
  height: 2em;
  font-size: 5em;
  margin-top: 2em;
  color: $primaryTextColor;
  font-family: 'Lobster', cursive;
  
}
.boards-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .board-card {
    height: 27em;
    border: 2px solid #932433a8;
    background-color: $secondaryColor;
    margin: 30px;
    img {
      cursor: pointer;
      width: 100%;
      height: 75%;
    }
    .card-body {
     padding: 5px;
     color: $baseColor;
    }
  }
  .pin-card {
    margin: 50px;
    color: black;
    img {
      width: 100%;
    }
  }
  
}
form {
  color: $primaryTextColor;
  width: 50%;
}
.edit-pin-form {
  width: 100%;
}
.form-group {
  text-align: center;
  width: 100%;
}
.profile-image {
  border-radius: 50%;
  background-position: center;
  width: 40px;
  height: 40px;
}
